@import "tailwindcss";


@theme {
  --font-sans: 'Inter', sans-serif;
  --font-heading: 'Manrope', sans-serif;
}

/* Wir laden hier deine Konfiguration von vorhin */
@config "../../tailwind.config.mjs";

html, body {
  height: 100%;
  scroll-behavior: smooth;
}