---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Datenschutz" noIndex={true}>
  <section class="py-20 container max-w-3xl prose prose-slate">
    
    <h1 class="font-heading font-bold text-3xl mb-6">Datenschutzerklärung</h1>
    <p class="text-sm text-slate-500">Stand: November 2025</p>
    
    <h2 class="font-bold text-xl mt-8 mb-4">1. Datenschutz auf einen Blick</h2>
    <p>
      <strong>Allgemeine Hinweise</strong><br />
      Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit Ihren personenbezogenen Daten passiert,
      wenn Sie diese Website besuchen.
    </p>

    <p>
      <strong>Wer ist verantwortlich für die Datenerfassung?</strong><br />
      Die Datenverarbeitung auf dieser Website erfolgt durch den Websitebetreiber. Dessen Kontaktdaten können Sie dem
      Impressum dieser Website entnehmen.
    </p>

    <h2 class="font-bold text-xl mt-8 mb-4">2. Hosting (Vercel)</h2>
    <p>
      Diese Website wird gehostet bei <strong>Vercel Inc.</strong>, 340 S Lemon Ave #4133, Walnut, CA 91789, USA.
    </p>
    <p>
      Vercel erfasst in sog. Logfiles folgende Daten, um die Sicherheit und Stabilität zu gewährleisten (Art. 6 Abs. 1 lit. f DSGVO):
    </p>

    <ul class="list-disc pl-5 mb-4">
      <li>IP-Adresse</li>
      <li>Browsertyp und -version</li>
      <li>Betriebssystem</li>
      <li>Referrer URL</li>
      <li>Datum und Uhrzeit der Anfrage</li>
    </ul>

    <h2 class="font-bold text-xl mt-8 mb-4">3. Plugins und Tools</h2>
    <p>
      <strong>Formspree</strong><br />
      Diese Website nutzt Formspree für die Verarbeitung von Formulareingaben (Kontaktformular)
